.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  text-align: center;
}

.homePage h1 {
  font-size: 32px;
  width: 500px;
  margin-bottom: 1rem;
}

.homePage p {
  width: 600px;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.homePage button{
    background-color: #90ee90;
}
