.container {
  background-color: #222;
  color: #fff;
  min-height: 100vh;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 70px auto 0;
  padding: 1rem;
  border-radius: 10px;
  background-color: #444;
}

.form .row {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
}

.form input {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form button {
  padding: 0.6em 1.2em;
  font-size: 0.8rem;
}
