.container {
  background-image: url(./marina-zasorina.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.center {
  min-height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing {
  width: 800px;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #fff;
}

.imageContainer {
  max-width: 300px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

p {
  line-height: 2;
}
