.cityItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #333;
    border-left: 5px solid greenyellow;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.cityItem time{
    margin-left: auto;
}

.cityItem-active{
    border-top: 1px solid rgb(146, 233, 17);
    border-right: 1px solid rgb(146, 233, 17);
    border-bottom: 1px solid rgb(146, 233, 17);
}

.cityItem button {
    width: 12px;
    height: 12px;
    font-size: 0.8em;
    border: none; 
    border-radius: 50%;
    padding: 1px;
    line-height: 0.6;
}


.cityItem button:hover{
    background-color: tomato;
    color: white;
}